* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
     background-color: #3d64e6;
}

.container {
    padding: 3em 2.5em;
    max-width: 37.5em;
    width: 80vw;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(255, 255, 255, 0.32);
}

.search-wrapper {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
}

.search-wrapper button {
    font-size: 1em;
    background-color: #3d64e6;
    color: #fff;
    padding: 0.8em 0;
    border: none;
    border-radius: 1.5em;
    transition: 0.5s ease;
    cursor: pointer;
}

.search-wrapper button:hover {
    background-color: #365ad3;
}

.search-wrapper input {
    font-size: 1em;
    padding: 0 0 0.65em;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}

.search-wrapper input::placeholder {
    color: #fff;
}

#result {
    margin: 1.25em;
}

.container .flag-img {
    display: block;
    width: 45%;
    min-width: 7.5em;
    margin: 1.8em auto 1.2em auto;
}

.container h2 {
    font-weight: 600;
    color: #001658;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
}

.data-wrapper {
    margin-bottom: 1em;
    letter-spacing: 0.3px;
}

.container h4 {
    display: inline;
    font-weight: 500;
    color: #001658;
}

.container span {
    color: #fff;
}

.container h3 {
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    color : #ff465a;
}
